.navigation {
  background: $color-white;
  overflow: hidden;
  padding: 2rem 0;

  .nav-logo {
    width: 15rem;
  }

  .nav-item {
    padding: 1rem;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 2rem;
    outline: none;
  }

  .nav-link {

    &:link,
    &:visited {
      color: $color-main-1;
      padding: 0;
      transition: all .4s;
      font-size: 1.5rem;
      padding-bottom: .15rem;
      border-bottom: 2.5px solid transparent;

      @include respond(phone) {
        border-bottom: none;
      }
    }

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.15);
      border-bottom: 2.5px solid $color-main-1;

      @include respond(phone) {
        transform: scale(1.03, 1.05);
        border-bottom: none;
      }
    }
  }
}