.btn-1 {
  &:link,
  &:visited {
    color: $color-white;
    background: $color-main-2;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 0;
    padding: .7rem 1.2rem;
    text-transform: capitalize;
    border: 1px solid transparent;
    transition: all .6s;
  }

  &:hover,
  &:active {
    color: $color-main-2;
    background: $color-white;
    border: 1px solid $color-main-2;
  }
}

.btn-2 {
  &:link,
  &:visited {
    color: $color-main-2;
    background: $color-white;
    border: 1px solid $color-main-2;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 0;
    padding: .7rem 2rem;
    text-transform: capitalize;
    margin-top: 2.2rem;
    transition: all .6s;
  }

  &:hover,
  &:active {
    color: $color-white;
    background: $color-main-2;
    border: 1px solid transparent;
  }
}

.button-styling {
  color: $color-white;
  background: $color-main-2;
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0;
  padding: .7rem 1.2rem;
  text-transform: capitalize;

  &:hover {
    color: $color-main-2;
    background: $color-white;
    border: 1px solid $color-main-2;
  }
}