header.header
  .container
    .row
      .col-12
        #carouselExampleControls.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              .slider-container
                .text-box-container
                  .text-box
                    h2.heading-secondary lorem ipsum
                    p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga officia laborum facere necessitatibus quod nobis eligendi, cum at sequi, laboriosam delectus quia nam asperiores! Corporis qui officia facere doloribus tempora?
            .carousel-item
              .slider-container
                .text-box-container
                  .text-box
                    h2.heading-secondary lorem ipsum
                    p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga officia laborum facere necessitatibus quod nobis eligendi, cum at sequi, laboriosam delectus quia nam asperiores! Corporis qui officia facere doloribus tempora?
            .carousel-item
              .slider-container
                .text-box-container
                  .text-box
                    h2.heading-secondary lorem ipsum
                    p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga officia laborum facere necessitatibus quod nobis eligendi, cum at sequi, laboriosam delectus quia nam asperiores! Corporis qui officia facere doloribus tempora?
            .carousel-item
              .slider-container
                .text-box-container
                  .text-box
                    h2.heading-secondary lorem ipsum
                    p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga officia laborum facere necessitatibus quod nobis eligendi, cum at sequi, laboriosam delectus quia nam asperiores! Corporis qui officia facere doloribus tempora?
            .carousel-item
              .slider-container
                .text-box-container
                  .text-box
                    h2.heading-secondary lorem ipsum
                    p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga officia laborum facere necessitatibus quod nobis eligendi, cum at sequi, laboriosam delectus quia nam asperiores! Corporis qui officia facere doloribus tempora?
          a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
